<h1>Welcome <%= current_user.email %>!</h1>
<br>
<%= button_to 'Discover Movies', discover_path, method: :get %>

<section id='friends'>
  <h3 class='dashboard-header'>Friends</h3>
  <hr>
  <%= form_with url: '/friendships', id: 'form-add-friend', local: true do |f| %>
    <%= f.text_field :friend_email, value: "Friend's Email" %>
    <%= f.submit 'Add Friend' %>
  <% end %>
  <br>
  <div id='friend-list'>
    <% if @user.friends.count > 0 %>
      <% @user.friends.each do |friend| %>
        <p class='friend'><%= friend.email %></p>
      <% end %>
    <% else %>
      <p>You currently have no friends.</p>
    <% end %>
  </div>
</section>
<br>
<section id='viewing-parties'>
  <h3 class='dashboard-header'>Viewing Parties</h3>
  <hr>
  <div id='viewing-party-list'>
    <% @viewing_parties.each do |party| %>
      <div class='viewing-party-card'>
        <%# <p><%= party.movie.name %1></p> %>
      </div>
    <% end %>
  </div>
</section>
