<h1>Welcome <%= current_user.email %>!</h1>
<br>
<%= button_to 'Discover Movies', discover_path, method: :get %>

<section id='friends'>
  <h3 class='dashboard-header'>Friends</h3>
  <hr>
  <%= form_with url: '/friendships', id: 'form-add-friend', local: true do |f| %>
    <%= f.text_field :friend_email, value: "Friend's Email" %>
    <%= f.submit 'Add Friend' %>
  <% end %>
  <br>
  <div id='friend-list'>
    <% if @user.friends.count > 0 %>
      <% @user.friends.each do |friend| %>
        <p class='friend'><%= friend.email %></p>
      <% end %>
    <% else %>
      <p>You currently have no friends.</p>
    <% end %>
  </div>
</section>
<br>
<section id='viewing-parties'>
  <h3 class='dashboard-header'>Viewing Parties</h3>
  <hr>
  <div id='viewing-party-list'>
    <% @viewing_parties.each do |party| %>
      <div class='viewing-party-card'>
        <p><%= link_to party.movie.name, movie_path(party.movie) %></p>
        <p><%= party.start_time.strftime('%B %e, %Y') %>
        <p><%= party.start_time.strftime('%l:%M %p').strip %>
        <% if party.user_id == @user.id %>
          <p>Hosting</p>
        <% else %>
          <p>Hosted by: <%= party.user.email %></p>
        <% end %>
        <% party.invitees.each do |invitation| %>
          <% if invitation.user.email == @user.email %>
            <p><b><%= invitation.user.email %></b></p>
          <% else %>
            <p><%= invitation.user.email %></p>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>
</section>
