<%# TODO change path the new_party_path %>
<%= form_with url: '/', method: :get, local: true do |f| %>
  <%= f.hidden_field 'movie[api_id]', value: @movie_details.api_id %>
  <%= f.hidden_field 'movie[title]', value: @movie_details.title %>
  <%= f.hidden_field 'movie[runtime]', value: @movie_details.runtime %>
  <%= f.submit 'Create Viewing Party for Movie' %>
<% end %>

<div id='info'>
  <h1><%= @movie_details.title %></h1>
  <p>
    <b>Vote Average:</b> <%= @movie_details.vote_average %> |
    <b>Runtime:</b> <%= @movie_details.runtime %> minutes |
    <b>Genre(s):</b> <%= @movie_details.genres.to_sentence %>
  </p>
  <section id='summary'>
    <h3>Summary</h3>
    <p><%= @movie_details.summary %></p>
  </section>
  <hr>
  <section id='cast'>
    <h3>Cast</h3>
    <ul>
      <% @movie_cast.each do |member| %>
        <li class='cast-member'><%= member.actor %> as <%= member.character %></li>
      <% end %>
    </ul>
  </section>
  <hr>
  <section id="reviews">
    <h3>Reviews - <%= @movie_reviews.length %> Total</h3>
    <% @movie_reviews.each do |review| %>
      <div class='review'>
        <b><%= review[:author] %></b><br>
        <p><%= review[:content] %></p>
      </div>
    <% end %>
  </section>
</div>
